@using WAF.API.Web
@using WAF.Engine.Content.Native
@using WAF.Engine.Query.Native
@inject WAFNativeContext wafContext
@{
    var site = wafContext.Session.GetSite();
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"]==null?"": (ViewData["Title"] + " - "))Relatude .Net 6 Starter Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.ServerCore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="@wafContext.GetUrl(site.StartNode.GetId())">Relatude .Net 6 Starter Site</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @await Html.PartialAsync("_Menu")                        
                    </ul>
                   @if (User.Identity.IsAuthenticated) {
                        <span style="color:green;font-size:18px;">Logged in as: @User.Identity.Name</span>@Html.ActionLink("Log out", "Logout", "Login", null, new {@class="nav-link text-dark"})
                    } else {
                        <span style="color:green;font-size:18px;">Not logged in</span>
                        @Html.ActionLink("Login", "Index", "Login", null, new {@class="nav-link text-dark"})
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Relatude .Net 6 Starter Site

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
