@using App.Server.Models
@model LoginModel

@{
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
@*    <div style="text-align: left">

        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        <br />
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
        <div>

            <button type="submit">Submit</button>
        </div>
    </div>

    <div class="error">
        @Html.ValidationSummary()
    </div>

    <br />
    *@

    <div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<div class="container border" style="padding:20px;">
    
        <div class="form-group row">
            <div class="col-2">
                <label>Username</label>
            </div>
            <div class="col-5">
                 @Html.TextBoxFor(m => m.UserName,"", new { @class= "form-control"}) 
            </div>
        </div>
        <div class="form-group row" style="margin-top:20px;">
            <div class="col-2">
                <label>Password</label>
            </div>
            <div class="col-5">
               @Html.TextBoxFor(m => m.Password, "", new { @class= "form-control"})
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5">
                @Model
            </div>
        </div>
        <div class="form-group row" style="margin-top:20px;">
            <div class="col-2">
            </div>
            <div class="col-5">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </div>
  
            <div class="error">
        @Html.ValidationSummary()
    </div>

    <br />

</div>




    
}
